body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background-color: grey }
.main {
  list-style-type: none;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
  color: orange;
 }
#head {
  font-family: Helvetica;
  color: cyan }
